<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="description" content="Restaurant Recommendation Complete">
<meta name="author" content="Mojiang, Xuhang, Xiang">
<title>Airbnb NewYorkCity</title>
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>
<!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" /> -->
<!-- script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin="">
</script> -->

<!-- <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script> -->
<style> #map{width: 1000px; height: 600px;}</style>
<style> .leaflet-popup-content{width: 120px;}</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<header class="top-header">
		<i class="avatar fa fa-user fa-2x"></i>
		<nav class="top-nav">
			<a href="/">Home</a> <a href="/search">Search</a> <a href="/favourite">Favourite</a>
		</nav>
	</header>



	<div class="container">
		#parse( $template )

		<footer>
			<p class="title">What We Do</p>
			<p>"Help you find the best house in New York."</p>
			<ul>
				<li>
					<p>
						<i class="fa fa-map-o fa-2x"></i>
					</p>
					<p>CIT594</p>
				</li>
				<li>
					<p>
						<i class="fa fa-envelope-o fa-2x"></i>
					</p>
					<p>airbnb@cit594.com</p>
				</li>
				<li>
					<p>
						<i class="fa fa-phone fa-2x"></i>
					</p>
					<p>+1 594 594 594</p>
				</li>
			</ul>
		</footer>
	</div>

	<!-- <script src="scripts/main.js"></script> -->
</body>
</html>